@import "colors.css";

* {
	box-sizing: border-box;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}
a {
	text-decoration: none;
}
.wrap {
	column-count: 3;
	column-gap: 30px;
	column-fill: balance-all;
	margin: 40px;
	> article {
		width: 100%;
		margin: 5px 0 25px 0;
		display: inline-block;
	}
}
	.item {
		box-shadow: 0 0 15px -3px rgba(0, 0, 0, .5);

		header {
			display: flex;
			flex-grow: 1;
			flex-shrink: 1;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 10px;
			font-size: 14px;
		}
		&__avatar {
			width: 40px;
			height: 40px;
			margin: 0 10px 0 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&__author {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			line-height: 20px;
		}
		&__username {
			font-weight: 600;
			color: $main-color-text;
		}
		&__time {
			color: $date;
		}

		&__photo {
			font-size: 0;
			img {
				width: 100%;
				height: 100%;
				user-select: none;
			}
		}

		&__body {
			padding: 15px 10px 25px 10px;
		}
		&__like {
			display: inline-block;
			margin: 0 0 10px 0;
			cursor: pointer;
		}
		&__like::before {
			content: '';
			background-image: url(../img/like.png);
			display: inline-block;
			width: 14px;
			height: 12px;
			margin: 0 7px 0 0;
		}
	}

@media (max-width: 1024px) {
	.wrap {
		column-count: 1;
	}
	.item {
		position: relative;
		width: 100%;
		margin: 0 0 30px 0;
		overflow: hidden;
		&__photo {
			margin: 0 50% 0 0;
		}
		header,
		&__body {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
		}
		header {
			padding: 20px;
		}
		&__body {
			top: 60px;
			padding: 20px 20px 25px 20px;
		}
		&__line {
			border-bottom: 1px solid #efefef;
			margin: 0 0 20px 0;
		}
	}
}
@media (max-width: 600px) {
	body {
		margin: 0;
	}
	.wrap {
		margin: 30px 0;
	}
	.item {
		position: relative;
		width: 100%;
		&__photo {
			margin: 0;
		}
		header,
		&__body {
			position: relative;
			width: 100%;
		}
		header {
			padding: 10px;
		}
		&__body {
			top: 0;
			padding: 15px 10px 25px 10px;
		}
		&__line {
			display: none;
		}
	}
}
